<?xml version="1.0" encoding="UTF-8"?>

<!--<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >-->

<!--<suite name="carbon-analytics-metrics-test-suit">-->
<!--    <test name="carbon-analytics-metrics-tests" preserve-order="true" parallel="false">-->
<!--        <classes>-->
<!--&lt;!&ndash;            <class name="io.siddhi.distribution.metrics.core.StatisticsTestCase"/>&ndash;&gt;-->

<!--        </classes>-->
<!--    </test>-->
<!--</suite>-->